.icons{
    padding: 20px;
    background-color: #fff;
    width: 100%;
    top: 975px;
}

.search{
    position: absolute;
    z-index: 100;
    left: 40%;
    bottom: 40px;
}

.plus{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to right,rgba(233, 177, 224, 1), rgba(211, 165, 242, 1));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    right: 20px;
    bottom: 20%;
}